# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Linter cache
.ruff_cache

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE

# VS Code
.vscode

# Generated ROS parameters
panda_ft_sensor_calibration/pd_plus_trajectory_follower_parameters.py
panda_ft_sensor_calibration/test/__pycache__
